# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\islam\OneDrive - The British University in Egypt\Y3\AOOSE\Project\Creator-Hub\Creator-Hub-Client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
